.game{
    transform:scale(1);
    transition:all 200ms;
}

.email-icon{
    top:90px;
    right:0;
}


.user-icon{
    top:30px;
    right:0;
}

@screen lg{
    .game:hover{
        transform:scale(1.05);
        z-index:9999;
    }
    
    .email-icon{
        right:-50px;
    }
    
    
    .user-icon{
        right:-50px;
    }
    
    .game:hover .email-icon,
    .game:hover .user-icon{
        right:30px;
    }
    
}
